deeplearn-approach/.keras/
deeplearn-approach/.config/
deeplearn-approach/.cache/
deeplearn-approach/.ipython/
deeplearn-approach/.local/
deeplearn-approach/core
deeplearn-approach/.python_history
deeplearn-approach/.bash_history
.bash_history
.config/
